.git
.github
.next
node_modules
coverage
dist
scripts/aws/dist
Dockerfile*
docker-compose*.yml
.env
.env.local
.env.development
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
