# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

#DATABASE_URL="postgresql://buymyhorse:buymyhorse@localhost:5432/buymyhorse?schema=public"
DATABASE_URL="postgresql://neondb_owner:npg_7buMr6QzwOWR@ep-shy-waterfall-ad5ubf2d-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require&schema=public"
AUTH_SECRET=7nRaRFjvb52wiuI5gq1kBVk6gKZPVW79SK+/7se6dYI=
NEXTAUTH_URL=http://localhost:3000
STRIPE_SECRET_KEY=sk_test_51TD5Qd1b9poqKvIyY5FXd46RIYtiTzwBLzhToHt4uwabVvkYin4QnNZrCn0JezbmjjEPi3uxxyi9eeEZeMJX65Ma00e2shfFEy
STRIPE_WEBHOOK_SECRET=whsec_04cae3bbc0b8c6a16417bf9a9475061e57f52c236d1e34c7badd049f8e4a7e42
ANTHROPIC_API_KEY=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
AWS_ACCESS_KEY_ID=AKIAYG5BJSFIM2WZMDF7
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=us-east-2
AWS_PUBLIC_BUCKET_NAME=horseroster-media
AWS_PRIVATE_BUCKET_NAME=horseroster-equivault
NEXT_PUBLIC_PUBLIC_ASSET_BASE_URL=https://d1349keq8cq5xc.cloudfront.net
AWS_PRIVATE_URL_EXPIRES_SECONDS=300
HORSE_MEDIA_PROCESSOR_SECRET=replace_me
SENDGRID_API_KEY=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
SENDGRID_FROM_EMAIL=info@horseroster.com
HORSE_VIDEO_MAX_UPLOAD_BYTES=78643200
HORSE_VIDEO_ALLOWED_MIME_TYPES=video/mp4,video/quicktime,video/webm
FFMPEG_PATH=/usr/bin/ffmpeg
